@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  border:0;
  outline:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
$primary-color:#003262;
$primary-color-variant:cyan;
$secondary-color:#FF004F;
$white-color:#F0FFFF;
$light-color:#FFE4E1;
$black-color:#301934;
$dark-color:#242124;
$success-color:#00FF7F;
$container-ld:82%;
$container-md:90%;