.swiper{
  width:$container-ld;

  .swiper-wrapper{
    margin-bottom: 4rem;
    article{
      @include gradientBackground;
      padding: 1.5rem 2rem;
      border-radius:1rem;
      font-size: 0.9rem;
      cursor:default;
      p{
        margin-bottom: 1.5rem;
      }
      .patient{
        display: flex;
        align-items: center;
        gap:1rem;
        .avatar{
        width: 2.5rem;
        aspect-ratio:1/1;
        border-radius:50%;
        overflow:hidden;
      }
    }
      
    }
  }
  .swiper-pagination-bullet{
    background:$primary-color;
  }
}
// -------------------------MEDIA QUERIES------------
// -------------------------MEDIA QUERIES( SMALL DEVICES)------------
@media screen and (max-width:600px){
 .swiper{
  .swiper-wrapper{
    .swiper-slide{
      padding: 1.5rem;
    }
  }
 }
}